.mobileMenu{
	transform: translate(-100%, 0%);
	transition: all .375s;
	z-index: 99;
	position: fixed;
	max-width: 250px;
	left: 0;
}
.isOpen .mobileMenu{
	transform: translate(0, 0);
	
}
.mobileMenu .inner{
	z-index: 2;
	position: relative;
}

.menuMask{
	position: fixed; 
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 98;
	transform: translate(100%, 0);
	
	opacity: 0;
	transition: all .375s;
}
.isOpen .menuMask{
	transform: translate(0%, 0);
	opacity: 1;
}

.mobileMenu img{
	opacity: 0;
	transition: all .375s;
	transition-delay: .375s;
}
.isOpen .mobileMenu img{
	opacity: 1;
}

.mobileMenu ul{
	opacity: 0;
	transition: all .375s;
	transition-delay: .575s;
}
.isOpen .mobileMenu ul{
	opacity: 1;
}

.mobileMenu::after,
.mobileMenu::before{
	content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px;
    background: rgba(255, 255, 255, 0.9);
    transform-origin: 0 0;
    transform: translate(-100%, 0%);
    transition: all .220s .2s;
    z-index: 0;
}

.isOpen .mobileMenu::after,
.isOpen .mobileMenu::before {
    transform: translate(0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
}
.mobileMenu ul{
	
}

.mobileMenu ul, 
.mobileMenu li{
    list-style: none;
    padding: 0;
}
.mobileMenu li {
    display: block;
    margin: .5rem 2em;
    text-align: center;
}
.mobileMenu li a {
    display: block;
    padding: 12px 0;
    font-size: 1.4em;
    text-decoration: none;
    font-family: Poppins, system-ui;
}
